.image img{
   border-radius: 10px;
}
.image{
    display: grid;
    margin-left:20px;
}
.dropDownContainer{
    width: 80%;
    margin-left:10%;
}
.btn{
    width: 20px;
    text-align: left;
    text-overflow: hidden;
}

@media screen and (max-width:1024px){
     .image{
        font-size: 0.6rem;
     }
     .btn{
        font-size: 0.5rem;
     }
}
