.nav-item a{
    font-size: 1.4rem;
}
#navbarDropdown:hover{
    background-color: blue;
    border-radius:10px;
    color: white;
}
.form-control:hover{
    transform: scale(1.1);
}
.form-control{
    background-color:rgb(103, 149, 164);
}
.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:900px) {
    .form-control{
        margin-top:20px;
        margin-left:50%;
        border: 1px solid black;
    }
}